<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Exam Extractor</title>
</head>

<body>
  <h1>Exam Extractor</h1>
  Choose a PDF file, then click the desirable download format.
  <form method="POST" action="{{ url_for('extract') }}" enctype="multipart/form-data">
    <div style="margin:5px">
      <input type="file" name="file">
    </div>
    <div style="margin:5px">
      <button type="submit" name="output" value="zip">Download as zip</button>
      <button type="submit" name="output" value="docx">Download as docx</button>
    </div>
  </form>
  <h2>PDF Preparation Instructions</h2>
  <ul>
    <li>Open annotation/commenting tools in Preview or Adobe Acrobat Reader.</li>
    <li>Draw a rectangle covering an entire task.</li>
    <li>Draw smaller rectangles covering choices.</li>
  </ul>
</body>
</html>
